/* Fonts */

/* Heading font: Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Body Copy font: Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Code copy font: Source Code Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/* Links font: Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}

* {
	font-family: 'Source Sans Pro', sans-serif;
}

code,
pre {
	font-family: 'Source Code Pro', monospace;
}

a,
.link,
button,
.btn {
	font-weight: bold;
	font-family: 'Exo 2', sans-serif;
}

/* Fluid Typography */
html {
	font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* Theming */

:root {
	--wyt: white;
	--blak: black;
	--fg-light: var(--wyt);
	--fg-dark: var(--blak);
	--accent: rgb(153, 0, 255);
}

/* Resets */

/* Normalize.css reset sheet */
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
}

html,
body {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

/* Links Default Style */

a {
	display: inline-block;
	text-decoration: none;
}

/* Img  Default Style: Rounded */

img {
	object-fit: cover;
	border-radius: 4px;
}

/* Button Default Style: Filled */

.btn,
button {
	border: none;
	outline: none;
	padding: 0.8em 1.5em;
	font-size: 1.2rem;
	color: var(--fg-light);
	border: 0.02em solid transparent;
	border-radius: 4px;
	background-color: var(--accent);
}

.btn:hover,
button:hover,
a:hover,
.link:hover {
	cursor: pointer;
	filter: saturate(1.5);
}

.btn:active,
button:active,
.link:active,
a:active {
	filter: saturate(0.5);
}

/* Utility classes */

.round-sm {
	border-radius: 0.3em;
}

.round-md {
	border-radius: 0.7em;
}

.round-lg {
	border-radius: 8em;
}

/* Nav */

.nav-bar {
	position: relative;

	height: 60px;
	background: var(--blak);

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0.5rem calc((100vw - 1200px) / 2);
}

.nav-bar__link,
.nav-bar__logo {
	color: var(--wyt);
	text-decoration: none;
}

.nav-bar__logo {
	font-weight: bolder;
	padding-left: 1rem;
	font-size: 1.25rem;
}

.nav-bar__link {
	padding: none 1rem;
}

.nav-bar__link:hover {
	cursor: pointer;
	color: var(--accent);
}

.nav-link__emoji {
	display: none;
}

@media screen and (max-width: 768px) {
	body.active {
		overflow: hidden;
	}

	.nav-link__emoji {
		display: inline-block;
	}

	.nav-bar__menu {
		position: absolute;
		width: 100%;
		top: -1000%;

		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(1, 1fr);
		transition: all 0.25s ease-in-out;
	}

	.nav-bar__menu.active {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		top: 100%;
		opacity: 1;
		z-index: 100;
		height: 100vh;
		font-size: 1.2rem;
		height: calc(100vh - 60px);
		background-color: var(--blak);
		transition: all 0.25s ease-in-out;
	}

	.nav-bar__link {
		height: 10%;
		padding: 5% 10%;
		font-size: 1.5rem;
	}

	.nav-bar__toggle .menu-bar {
		width: 20px;
		height: 2.5px;
		display: block;
		margin: 4px auto;
		background: var(--wyt);
		transition: all 0.25s ease-in-out;
	}

	.nav-bar__toggle:hover .menu-bar,
	.nav-bar__toggle .menu-bar:hover {
		cursor: pointer;
	}

	.nav-bar__toggle:hover .menu-bar,
	.nav-bar__toggle:focus .menu-bar {
		background-color: var(--wyt);
	}

	.nav-bar__toggle:active .menu-bar {
		background-color: var(--accent);
		filter: saturate(2);
	}

	.nav-bar__link:hover,
	.nav-bar__link:focus {
		color: var(--accent);
	}

	.nav-bar__link:active {
		filter: saturate(2);
	}

	#nav-bar__mobile-menu {
		position: absolute;
		top: 25%;
		right: 6%;

		transform: translate(6%, 20%);
	}

	#nav-bar__mobile-menu.active .menu-bar:nth-child(1) {
		transform: translateY(6.5px) rotate(45deg);
	}

	#nav-bar__mobile-menu.active .menu-bar:nth-child(3) {
		transform: translateY(-6.5px) rotate(-45deg);
	}

	#nav-bar__mobile-menu.active .menu-bar:nth-child(2) {
		opacity: 0;
	}
}

/* Hero */
.hero {
	background: linear-gradient(
			to top,
			rgba(20, 20, 20, 0.76),
			rgba(153, 0, 255, 0.356)
		),
		url(assets/images/g-1.jpg) no-repeat center center;
	background-size: cover;
	height: calc(100vh - 60px);
	color: white;
	width: 100vw;
}

.hero__content {
	width: 100%;
	height: 100%;
	line-height: 1;
	padding-left: 13.5vw;

	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}

.hero__content .title {
	text-transform: uppercase;
	font-size: clamp(1.5rem, 8vw, 2.5rem);
}

.hero__content .motto {
	text-align: start;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	font-size: clamp(0.8rem, 4vw, 1.2rem);
}
@media screen and (max-width: 768px) {
	
	.hero__content .title {
		font-size: clamp(3rem, 4vw, 6rem);
	}
	
	.hero__content .motto {
		font-size: clamp(2rem, 4vw, 3rem);
	}
}

/* Services */
.services {
	width: 100%;
	height: 100%;

	padding: 2rem calc((100vw - 1100px) / 2);
}

.services__wrapper {
	display: grid;
	/* padding: 1.01rem; */
	grid-template-columns: repeat(2, 1fr);
}

.services__wrapper,
.services__wrapper div {
	width: 100%;
	height: 100%;
}

.services__wrapper div:nth-child(1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 4rem;
}

.by-line {
	color: var(--accent);
	font-weight: bolder;
	margin-bottom: 0.6rem;
	text-transform: uppercase;
}

.services__title {
	font-size: clamp(1.5rem, 5vw, 2.8rem);
	margin-bottom: 1.1rem;
}

.service__offers {
	list-style: none;
}

.service__offer {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.service__offer p {
	margin: 0.04rem 0.4rem;
	font-size: clamp(0.8rem, 4vw, 1.2rem);
}

.service__offer .service__icon {
	stroke-width: 2.7;
	stroke: var(--accent);
}

.services__wrapper div {
	width: 100%;
	height: 100%;
}

.services__wrapper div .services__img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.services__wrapper {
		grid-template-columns: repeat(1, 1fr);
	}

	.services__wrapper div:nth-child(1) {
		margin-bottom: 0.8rem;
	}
}

/* Subcriptions */
.sub-plans {
	color: var(--wyt);
	text-align: center;
	background: var(--blak);
	padding: 2rem calc((100vw - 1100px) / 2);
}

.sub-plans h1 {
	padding: 0 0.8rem;
	margin-bottom: 0.8rem;
	font-size: clamp(1.5rem, 4vw, 3.2rem);
}

.sub-plans__info {
	/* padding: 1.5rem; */
	margin-bottom: 2.5rem;
	font-size: clamp(0.8rem, 4vw, 1rem);
}

.sub-plans__wrapper {
	/* padding: 1.5rem; */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.sub-plan__card {
	width: 324px;
	min-height: 470px;
	padding: 2rem;
	border-radius: 0.25em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: var(--blak);
	background-color: var(--wyt);
}

.sub-plan__card .sub-plan__icon {
	font-size: 2.2rem;
}

/* Gold subscription icon should be larger */
.sub-plan__card:nth-child(2) .sub-plan__icon {
	font-size: 3.2rem;
}

.sub-plan__card .sub-plan__title h4 {
	margin: 1rem 0rem;
	font-size: clamp(1.2rem, 6vw, 1.8rem);
}

.sub-plan__card p {
	margin: 0.4rem 0rem;
	font-size: clamp(0.8rem, 6vw, 1rem);
}

.sub-plan__info {
	min-height: 200px;
}

@media screen and (max-width: 768px) {
	.sub-plan__card .sub-plan__icon {
		font-size: 6rem;
	}

	/* Gold subscription icon should be larger */
	.sub-plan__card:nth-child(2) .sub-plan__icon {
		font-size: 12rem;
	}
}

@media screen and (max-width: 1100px) {
	.sub-plans__wrapper {
		align-items: center;
		flex-direction: column;
	}

	.sub-plan__card {
		width: 90%;
		margin: 1.2rem 0rem;
		height: 400px;
	}

	.sub-plan__info {
		min-height: 100px;
	}

	.sub-plan__card .sub-plan__title h4 {
		margin: 1rem 0rem;
		font-size: clamp(1.5rem, 6vw, 3rem);
	}

	.sub-plan__card p {
		margin: 0.4rem 0rem;
		font-size: clamp(1.2rem, 6vw, 1.45rem);
	}

	/* .sub-plan__icon {
		font-size: 6rem;
	}

	*/
	/* Gold subscription icon should be larger */
	/* .sub-plan__card:nth-child(2) .sub-plan__icon {
		font-size: 10rem;
	}  */
}

/* Staff */
.staff {
	padding: 2rem calc((100vw - 1100px) / 2);
}

.staff__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto, 250px);
}

.staff__info {
	padding: 1rem;
}

.staff__info h1 {
	margin-bottom: 1rem;
	font-size: clamp(2rem, 4vw, 3rem);
}

.coaches__info {
	line-height: 1.3;
	font-size: clamp(1rem, 4vw, 1.4rem);
}

.staff__card {
	margin: 1rem;
	border-radius: 8px;
	position: relative;
}

.staff__card p {
	position: absolute;
	left: 25px;
	bottom: 30px;
	color: var(--wyt);
	font-size: clamp(2rem, 4vw, 3rem);
}

.staff__img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* images look hilarious 😂 humans look funny when stretched in images */
	border-radius: 8px;
}

/*  Sexy pinterest galleria img-stack */
.staff__info:nth-child(1) {
	grid-row: 1 / 3;
	grid-column: 2 / 3;
	/* border: 0.2em solid dodgerblue; */
}

.staff__info:nth-child(2) {
	grid-row: 5 / 6;
	grid-column: 1 / 2;
	/* border: 0.2em solid magenta; */
}

.staff__card:nth-child(3) {
	grid-row: 1 / 3;
	grid-column: 1 / 2;
}

.staff__card:nth-child(4) {
	grid-row: 2 / 4;
	grid-column: 2 / 3;
}

.staff__card:nth-child(5) {
	grid-row: 3 / 5;
	grid-column: 1 / 2;
}

.staff__card:nth-child(6) {
	grid-row: 4 / 6;
	grid-column: 2 / 3;
}

@media screen and (max-width: 768px) {
	.staff__wrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
	}

	/* Basic bissh instagram galleria image stack */
	.staff__info:nth-child(1) {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
		/* border: 0.2em solid dodgerblue; */
	}

	.staff__info:nth-child(2) {
		grid-row: 6 / 7;
		grid-column: 1 / 2;
		/* border: 0.2em solid magenta; */
	}

	.staff__card:nth-child(3) {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
	}

	.staff__card:nth-child(4) {
		grid-row: 4 / 5;
		grid-column: 1 / 2;
	}

	.staff__card:nth-child(5) {
		grid-row: 5 / 6;
		grid-column: 1 / 2;
	}

	.staff__card:nth-child(6) {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
	}
}

/* Mail */
.mail {
	padding: 5rem;

	width: 100%;
	height: auto;
	background-size: cover;
	object-fit: cover;
	color: var(--wyt);
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.5) 30%,
			rgba(0, 0, 0.1) 100%
		),
		url(assets/images/g-2.jpg) no-repeat center;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.mail__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mail__content {
	text-align: center;
	padding: 0 1.2rem;
	margin-bottom: 1rem;
	font-size: clamp(0.8rem, 4vw, 1.3rem);
}

.mail__content p {
	text-align: center;
	padding: 0 1rem;
	margin-bottom: 1.5rem;
	font-size: clamp(1rem, 2.5vw, 1.3rem);
}

form {
	z-index: 10;
}

.form__wrapper {
	display: flex;
	align-items: center;
}

.form__wrapper label {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1rem;
}

.form__wrapper button {
	padding: 0.65rem 2rem;
}

.form__wrapper input#e-mail {
	padding: 1rem 1.5rem;
	outline: none;
	width: 350px;
	height: 50px;
	border: none;
	/* margin-right: 1rem; */
	border-radius: 4px;
}

@media screen and (max-width: 768px) {
	.form__wrapper label input,
	.form__wrapper button {
		width: 350px;
		height: 50px;
		border-radius: 4px;
		margin: 0.3rem 0rem;
		padding: 0;
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	.form__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 0rem;
	}

	.form__wrapper label input,
	.form__wrapper button {
		width: 350px;
		height: 50px;
		border-radius: 4px;
		margin: 0.3rem 0rem;
		padding: 0;
		margin: 0;
	}
}

/* footer */
.footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 4rem calc((100vw - 1100px) / 2);

	color: var(--wyt);
	background: var(--blak);
}

.footer__info {
	padding: 0 2rem;
}

.footer__info h1 {
	margin-bottom: 2rem;
	color: var(--wyt);
	font-size: 1.4rem;
}

.footer__info p {
	margin-bottom: 1rem;
}

#mobile {
	font-weight: bolder;
	font-size: clamp(0.8rem, 4vw, 1.1rem);
}

.footer__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.footer__links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem 2rem;
}

.footer__title {
	font-weight: bolder;
	margin-bottom: 14px;
	font-size: clamp(14px, 3vw, 20px);
}

.footer__link {
	color: lightgray;
	text-decoration: none;
	margin-bottom: 0.5rem;
	font-size: clamp(14px, 3vw, 16px);
	transition: all 0.3s ease-in-out;
}

.footer__link:hover {
	color: var(--accent);
	text-decoration: none;
	margin-bottom: 0.5rem;
	font-size: clamp(14px, 3vw, 16px);
}

@media screen and (max-width: 400px) {
	.footer__info {
		padding: 1rem;
	}

	.footer__links {
		padding: 1rem;
	}
}

@media screen and (max-width: 800px) {
	.footer__wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
}
